* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-image: linear-gradient(45deg, #0f0b4c 0%, #716bc7 100%);
  background-repeat: no-repeat;
}
body button {
  cursor: pointer;
}

.body__container {
  position: relative;
  width: 90%;
  height: calc(.95 * 100vh);
  margin: 18px auto;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 8px 2px rgba(30, 28, 95, 0.45);
}

.inner_bar {
  grid-column: 5/-1;
  grid-row: 1/2;
  z-index: 2;
  margin: 48px 40px 0;
}

.bar {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: "logo . social-icons";
  grid-gap: 8px;
}

.bar__logo {
  grid-area: logo;
}
.bar__logo img {
  width: 100px;
}

.bar__contact-icons {
  grid-area: social-icons;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  justify-items: center;
  color: #070439;
  padding-top: 6px;
}
.bar__contact-icons i {
  font-size: 1.4rem;
}

.inner {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.inner__ilustration {
  z-index: 1;
  grid-column: 1/span 4;
  grid-row: 1/-1;
}

.ilustration {
  background: url(../images/bg-intro.svg);
  background-repeat: no-repeat;
  background-size: 100% 145%;
  transform: scaleX(-1);
  margin-right: -1px;
}

.ilustration {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ilustration img {
  width: 60%;
  height: auto;
  transform: scaleX(-1);
}

.inner__product {
  grid-column: span 5/-1;
  grid-row: 1/-1;
  margin: 48px 40px;
}

.product {
  display: grid;
  grid-template-rows: 1fr max-content;
  grid-template-areas: "product_descript" "policy";
}

.product__main-content {
  grid-area: product_descript;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 48px;
}

.product__main-text {
  align-self: end;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 32px;
}

.product__headline {
  min-width: 236px;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #070439;
}

.product__service-description {
  color: gray;
  font-size: 0.8rem;
  font-weight: 400;
}

.signup .signup__text {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #070439;
}

.registry-form {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 16px;
}
.registry-form .registry-form__email {
  grid-column: 1/span 5;
  height: 48px;
  border: none;
  box-shadow: 3px 3px 4px 1px rgba(128, 128, 128, 0.25);
  border-radius: 4px;
}
.registry-form .registry-form__btn-submit {
  grid-column: 6/-1;
  height: 48px;
  min-width: 64px;
  border: none;
  border-radius: 2.5px;
  box-shadow: 1.5px 1.8px 4px 2px rgba(94, 94, 94, 0.22);
  font-size: 0.85rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background-color: #05d69b;
  color: white;
}

.footer {
  grid-area: policy;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.footer .policy {
  font-size: 0.7rem;
  color: #070439;
}

@media (max-width: 420px) {
  .body__container {
    height: auto;
  }

  .bar {
    grid-column: 1/-1;
    margin-top: 36px;
    position: relative;
  }

  .bar__logo img {
    visibility: hidden;
  }

  .bar__logo::after {
    position: absolute;
    content: "";
    width: 95px;
    height: 30px;
    left: 0;
    top: 0;
    background-image: url(/images/logo-white.svg);
    background-size: 90%;
    background-repeat: no-repeat;
  }

  .bar__contact-icons {
    grid-gap: 21px;
    color: white;
  }
  .bar__contact-icons i {
    font-size: 0.95rem;
  }

  .inner__ilustration {
    grid-column: 1/-1;
    grid-row: 1/span 5;
  }

  .bg-ilustration {
    background: linear-gradient(to left bottom, #100a6b, #7771c1);
  }

  .ilustration {
    transform: scaleX(1);
    background-size: 100% 100%;
  }
  .ilustration img {
    transform: scaleX(1);
    width: 60%;
  }

  .inner__product {
    grid-column: 1/-1;
    grid-row: span 4;
    margin: 0px 40px 36px;
  }

  .product {
    grid-gap: 32px;
  }

  .product__main-content {
    grid-row: 1/2;
    grid-template-rows: 1fr auto;
    grid-row-gap: 32px;
  }

  .product__main-text {
    grid-row-gap: 16px;
  }

  .signup__text {
    font-size: 0.8rem;
  }

  .product__service-description {
    font-size: 0.65rem;
  }

  .registry-form {
    grid-auto-rows: 32px;
  }
  .registry-form .registry-form__email {
    grid-column: span 7;
    height: 32px;
    box-shadow: 0px 0px 2px 1px rgba(128, 128, 128, 0.25);
  }
  .registry-form .registry-form__btn-submit {
    grid-column: 1/span 2;
    width: 128px;
    height: 32px;
  }
}

/*# sourceMappingURL=styles.css.map */
